article{
    display: grid;
    grid-template-columns: 25% 50% 25%;
}
.texte_conteneur{
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
}
.apm{
    grid-column: 2/4;
    grid-row: 2;
}
.prj{
    grid-column: 1/3;
    grid-row: 3;
}
.exp{
    grid-column: 2/4;
    grid-row: 4;
}
img.gauche{
    grid-column: 1;
    width: 100%;
    height: auto;
}
img.droite{
    grid-column: 3;
    width: 100%;
    height: auto;
}

img{
    margin-top: 5px;
    margin-bottom: 5px;
}

.presentation{
    grid-column: 1/4;
    grid-row: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    font-style: italic;
    font-size: 24px;
}

section .titre{
    width: 45%;
    height: auto;
    margin: auto;
    margin-top: 200px;
    color: rgb(97, 97, 98);
	font-size: 60px;
	font-weight: 600;
    background: radial-gradient(rgba(218, 218, 218, 0.8), rgba(222, 219, 219, 0.8));
    box-shadow: 0px 0px 20px rgba(189, 182, 182, 0.897);
    border-radius: 20px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}
body .entete{
    background-image: url("../images/fond_accueil_v3.jpg");
    background-position: top -50px left;
    background-size: 100%;
    height: 100%;
}

@media (max-width: 1200px) {
    body .entete{
        background-image: url("../images/fond_accueil_v5.jpg");
        background-position: top -50px left;
        background-size: auto;
    }
    section .titre{
        width: 70%;
        height: auto;
        margin: auto;
        margin-top: 15%;
        color: rgb(97, 97, 98);
	    font-size: 60px;
	    font-weight: 450;
        background: radial-gradient(rgba(218, 218, 218, 0.8), rgba(222, 219, 219, 0.8));
        box-shadow: 0px 0px 20px rgba(189, 182, 182, 0.897);
        border-radius: 20px;
        padding: 20px;
        padding-left: 20px;
        padding-right: 20px;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    article{
        grid-template-columns: 100%;
    }
    .apm{
        grid-column: 1;
        grid-row: 3;
    }
    img.apm{
        grid-row: 2;
    }
    .prj{
        grid-column: 1;
        grid-row: 5;
    }
    img.prj{
        grid-row: 4;
    }
    .exp{
        grid-column: 1;
        grid-row: 7;
    }
    img.exp{
        grid-row: 6;
    }
    img.gauche{
        grid-column: 1;
        width: 60%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    img.droite{
        grid-column: 1;
        width: 60%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .texte_conteneur{
        padding-bottom: 20px;
    }
}